<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div>
                <img class="logo-bee" src="~/images/Logo-bee.png" alt="the bee mascote" />
            </div>
            <div>
                <a class="navbar-brand">@Html.ActionLink("BeeEco", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">News</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">The Hive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div>
                <button type="button" class="btn btn-warning">LogIn</button>
                <button type="button" class="btn btn-info">SignUp</button>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </header>


    <main class="container body-content">
        @RenderBody()

    </main>
    <footer class="fixed-bottom container">
        <hr />
        <p>&copy; @DateTime.Now.Year - BeeHive Une application ASP.NET</p>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
